<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lectura Rechazo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    ,
    <ion-content fullscreen>

      <ion-card>
        <ion-item>
          <ion-label position="floating">Plot Id</ion-label>
          <ion-input></ion-input>
          <ion-icon name="qr-code-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label position="floating">Ubicacion</ion-label>
          <ion-input></ion-input>
          <ion-icon name="navigate" slot="end"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label position="floating">Operario 1</ion-label>
          <ion-input></ion-input>
          <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label position="floating">Operario 2</ion-label>
          <ion-input></ion-input>
          <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label position="floating">Operario 3</ion-label>
          <ion-input></ion-input>
          <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-label position="floating">Operario 4</ion-label>
          <ion-input></ion-input>
          <ion-icon name="person" slot="end"></ion-icon>
        </ion-item>
      </ion-card>

      <ion-card>
        <section class="full-width">
          <ion-button expand="full" color="success">GUARDAR</ion-button>
        </section>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title CLASS="ion-text-center"> ULTIMA lECTURA</ion-card-title>
        </ion-card-header>
        <ion-footer>
          <ion-row>
            <ion-col center text-center>
              <button>
                <ion-label position="floating">Plot Id</ion-label>
                <ion-input disabled="true"></ion-input>
              </button>
            </ion-col>
            <ion-col center text-center>
              <button>
                <ion-label position="floating">Plot Id</ion-label>
                <ion-input disabled="true"></ion-input>
              </button>
            </ion-col>
          </ion-row>
        </ion-footer>
      </ion-card>
    </ion-content>
  </ion-app>
</ion-content>
